server: 
    port: 8080

spring:
    sql:
        init:
            schema-locations: classpath:schema-postgresql.sql
            mode: always
            platform: postgres
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true